<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://uc94b54dfc2e3aa4ba00ddb12abf.dl.dropboxusercontent.com/cd/0/get/Aq2YVzV7yfBs1DaTpzB-uWk1L9zekIVX751AjY3oV5RVIOFvOo_3Bx5YezZ2WISEbzzfDmd8r_xwhCxhaPD00Z4g9tK6hbbvg7_83uYy9DlPd5AvnJDxQJgQ8Yhd1D3Tpqc/file?dl=1#</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>ru.sberbank.onlineiphone.beta.push</string>
				<key>bundle-version</key>
				<string>1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>Sberbank</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
